In [144]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.width', None)

In [180]:
import pandas as pd
from pandas import DataFrame

if not hasattr(DataFrame, "_orig_repr_html_"):
    DataFrame._orig_repr_html_ = DataFrame._repr_html_

    def _scrollable_repr_html(self):
        html = DataFrame._orig_repr_html_(self)  # sınıftaki orijinale sabitle
        return (
            '<div style="width:100%; height:400px; overflow:auto; '
            'border:1px solid #eee; border-radius:8px; padding:8px;">'
            f'{html}</div>'
        )

    DataFrame._repr_html_ = _scrollable_repr_html

## Data Preparation

### Servis

In [145]:
df_servis_canter=pd.read_csv("2022-2023-2024 İŞ EMRİ RAPORU_CANTER.csv")

C:\Users\Asus\AppData\Local\Temp\ipykernel_14548\3324615020.py:1: DtypeWarning: Columns (0,10,11,17,28,29,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df_servis_canter=pd.read_csv("2022-2023-2024 İŞ EMRİ RAPORU_CANTER.csv")

In [146]:
df_servis_canter=df_servis_canter.drop(["Kodu","Adı","Kapanış Tar.","İş Emri No","Durum","KM","İş Emrini Açan","Mess Üyesi","Adı.1","Telefon","TCKN/VKN","Model Adı","Model Yılı","İşlem Türü","Kaynak","Güncel Kod","Açıklama","Birim Fiyat","İndirim","Tutar","Kmp. No","Bakım ?","Fatura ?","Filo ?","E.S ?","Personel Adı","Teknisten Adı","Fatura Türü","Kategori","Şasi","Plaka","Motor No","Temsa Aracı mı?","Teslim Alan","Telefon.1","Garantide mi?","Unnamed: 39"],axis=1)

In [147]:
df_servis_canter = df_servis_canter.rename(columns={
    "İş Emri Tar.": "Çıkış Tarihi",
    "İşlem Kodu": "Parça Kodu",
    "Miktar": "Verilen Miktar"
})

In [148]:
df_servis_otob=pd.read_csv("2022-2023-2024 İŞ EMRİ RAPORU_OTOBB.csv")

In [149]:
df_servis_otob=df_servis_otob.drop(["Bayi Kod","Şase No","İş Emri","Km","Yıl","Ay","İ.E.Tip","Temsa / Temsa dışı","Temsa Kodu","Temsa Güncel Kod","Garanti Dışı","Firma Adı","Fiyat","Model Adı","Unnamed: 18","Ana Model","Model Yıl","Model Kod","Bayi Adı","Giriş Tarihi","Plaka"],axis=1)

In [150]:
servis= pd.concat([df_servis_otob, df_servis_canter], ignore_index=True)

In [124]:
servis["Çıkış Tarihi"]=pd.to_datetime(servis["Çıkış Tarihi"])
servis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1027401 entries, 0 to 1027400
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Çıkış Tarihi    1015077 non-null  datetime64[ns]
 1   Parça Kodu      1027401 non-null  object
 2   Verilen Miktar  995335 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 23.5+ MB

C:\Users\Asus\AppData\Local\Temp\ipykernel_14548\1732944805.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  servis["Çıkış Tarihi"]=pd.to_datetime(servis["Çıkış Tarihi"])

In [125]:
servis

        Çıkış Tarihi      Parça Kodu  Verilen Miktar
0         2022-06-30  0001231016-ALT             1.0
1         2023-05-24  0001231016-ALT             1.0
2         2023-02-15      0001261069             1.0
3         2024-08-15      0001261085             1.0
4         2023-08-02      0001261087             1.0
...              ...             ...             ...
1027396   2025-02-28            AMP1             4.0
1027397   2025-02-28    MK580527-ALT             1.0
1027398   2025-02-28        MK486111             1.0
1027399   2025-02-28       FE802165Y             2.0
1027400   2025-02-28            AMP1             1.0

[1027401 rows x 3 columns]

### Yıllık Tüfe Verisi

In [126]:
tüfe=pd.read_excel("Başlıksız e-tablo.xlsx")
tüfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ds           91 non-null     datetime64[ns]
 1   tüfe yıllık  91 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 1.6+ KB

In [127]:
tüfe["ds"]=pd.to_datetime(tüfe["ds"])
tüfe["ds"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 91 entries, 0 to 90
Series name: ds
Non-Null Count  Dtype
--------------  -----
91 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 860.0 bytes

In [128]:
tüfe

           ds tüfe yıllık
0  2025-07-01       33.52
1  2025-06-01       35.05
2  2025-05-01       35.41
3  2025-04-01       37.86
4  2025-03-01       38.10
..        ...         ...
86 2018-05-01       12.15
87 2018-04-01       10.85
88 2018-03-01       10.23
89 2018-02-01       10.26
90 2018-01-01       10.35

[91 rows x 2 columns]

### Dolar

In [129]:
dolar=pd.read_csv("USD_TRY Geçmiş Verileri (1).xls")
dolar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1980 entries, 0 to 1979
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tarih   1980 non-null   object
 1   Şimdi   1980 non-null   object
 2   Açılış  1980 non-null   object
 3   Yüksek  1980 non-null   object
 4   Düşük   1980 non-null   object
 5   Hac.    0 non-null      float64
 6   Fark %  1980 non-null   object
dtypes: float64(1), object(6)
memory usage: 108.4+ KB

In [130]:
dolar["Tarih"]=pd.to_datetime(dolar["Tarih"])
dolar["Tarih"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1980 entries, 0 to 1979
Series name: Tarih
Non-Null Count  Dtype
--------------  -----
1980 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 15.6 KB

C:\Users\Asus\AppData\Local\Temp\ipykernel_14548\1386394435.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dolar["Tarih"]=pd.to_datetime(dolar["Tarih"])

In [131]:
dolar

          Tarih    Şimdi   Açılış   Yüksek    Düşük  Hac.  Fark %
0    2025-08-25  40,9970  40,9307  41,0135  40,9530   NaN   0,09%
1    2025-08-24  40,9597  40,9307  40,9945  40,9086   NaN   0,06%
2    2025-08-22  40,9357  40,9343  41,1373  40,7506   NaN   0,00%
3    2025-08-21  40,9340  40,9280  41,0336  40,8092   NaN   0,02%
4    2025-08-20  40,9277  40,8934  40,9706  40,7595   NaN   0,08%
...         ...      ...      ...      ...      ...   ...     ...
1975 2018-01-31   3,7543   3,7809   3,7853   3,7445   NaN  -0,68%
1976 2018-01-30   3,7800   3,7934   3,8020   3,7602   NaN  -0,33%
1977 2018-01-29   3,7924   3,7539   3,7983   3,7415   NaN   1,08%
1978 2018-01-26   3,7520   3,7522   3,7654   3,7255   NaN   0,01%
1979 2018-01-25   3,7515   3,7384   3,7622   3,7143   NaN   0,38%

[1980 rows x 7 columns]

### Motorin

In [132]:
motorin=pd.read_csv("akaryakıt - Sayfa1.csv")

In [133]:
def turkce_tarih_cevir(series):
    aylar = {
        "Ocak": "01", "Şubat": "02", "Mart": "03", "Nisan": "04", "Mayıs": "05", "Haziran": "06",
        "Temmuz": "07", "Ağustos": "08", "Eylül": "09", "Ekim": "10", "Kasım": "11", "Aralık": "12"
    }
    for turkce, num in aylar.items():
        series = series.str.replace(turkce, num, regex=False)
    return pd.to_datetime(series, format="%d %m %Y")

# Uygula
motorin["TARİH"] = turkce_tarih_cevir(motorin["TARİH"])

motorin["TARİH"]=pd.to_datetime(motorin["TARİH"])
motorin["TARİH"].info()

In [134]:
import pandas as pd

# Tarihi datetime formatına çevir
motorin["TARİH"] = pd.to_datetime(motorin["TARİH"], dayfirst=True, errors="coerce")

# Sayısal hale getir (virgülü noktaya çevir -> float)
motorin["MOTORİN (TL/LT)"] = (
    motorin["MOTORİN (TL/LT)"]
    .astype(str)
    .str.replace(",", ".", regex=False)
    .astype(float)
)

# Aylık ortalama hesapla
df_motorin_monthly = (
    motorin.groupby(motorin["TARİH"].dt.to_period("M"))["MOTORİN (TL/LT)"]
    .mean()
    .to_timestamp()
    .reset_index()
    .rename(columns={"TARİH": "ds", "MOTORİN (TL/LT)": "motorin_aylik"})
)

df_motorin_monthly

           ds  motorin_aylik
0  2017-09-01       4.643333
1  2017-10-01       4.780000
2  2017-11-01       4.985000
3  2017-12-01       5.040000
4  2018-01-01       5.095714
..        ...            ...
91 2025-04-01      45.003000
92 2025-05-01      45.206667
93 2025-06-01      49.270000
94 2025-07-01      52.826667
95 2025-08-01      51.840000

[96 rows x 2 columns]

### Kampanya

In [155]:
otob_kampanya=pd.read_excel("Yurt içi kampanya otobüs satış (1).xlsx",skiprows=6)

In [156]:
otob_kampanya= otob_kampanya.dropna(how="all")

In [242]:
otob_kampanya

,Müşteri,KşTü,Koşul türü,Unnamed: 3,Unnamed: 4,Malzeme,Malzeme.1,Tutar,Birim,Brm.,ÖB,Bşl.tarihi,Gçrl.sonu,Müşteri adı
2,600017.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,0734-317-276,YAG TUTUCU,-2.0,%,NaN,NaN,2021-09-30,2021-09-30 00:00:00,ARAZ OTOMOTİV SAN. VE TİC. LTD.ŞTİ
3,600017.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,1001000000135Y,"RADYATOR,DEFROSTER",-7.0,%,NaN,NaN,2022-01-07,2022-01-10 00:00:00,ARAZ OTOMOTİV SAN. VE TİC. LTD.ŞTİ
4,600017.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,1001000000188Y,"AL.BRAZZING PETEK,DEFROSTER",-5.0,%,NaN,NaN,2022-01-07,2022-01-10 00:00:00,ARAZ OTOMOTİV SAN. VE TİC. LTD.ŞTİ
5,600017.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,11117856CY,"KLİMA SOĞUTMA HORTUMU,NW25 90/0 7,1/7,1",-27.8,%,NaN,NaN,2020-11-17,2020-11-17 00:00:00,ARAZ OTOMOTİV SAN. VE TİC. LTD.ŞTİ
6,600017.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,11117857CY,"KLİMA SOĞUTMA HORTUMU,NW25 90/0 7,1/7,1",-27.8,%,NaN,NaN,2020-11-17,2020-11-17 00:00:00,ARAZ OTOMOTİV SAN. VE TİC. LTD.ŞTİ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16704,10038718.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,525949900,YAG KECESI,-4.9,%,NaN,NaN,2024-02-20,2024-02-21 00:00:00,ÖZUÇURAN YEDEK PARÇA OTO ELEKTRİK İ
16705,10038718.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,NK113121,ARKA AMORTISOR (KONI),-4.5,%,NaN,NaN,2025-03-20,2025-03-21 00:00:00,ÖZUÇURAN YEDEK PARÇA OTO ELEKTRİK İ
16706,10038718.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,NK215100Y,SU DEVIR POMPASI,-4.0,%,NaN,NaN,2024-02-26,2024-02-27 00:00:00,ÖZUÇURAN YEDEK PARÇA OTO ELEKTRİK İ
16707,10038718.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,NK267179Y,GENLESME TANKI,-5.0,%,NaN,NaN,2023-09-21,2023-09-25 00:00:00,ÖZUÇURAN YEDEK PARÇA OTO ELEKTRİK İ
16708,10038718.0,ZKAM,Kamp Mlz İndirimi(%),NaN,NaN,NK550180Y,"ARKA KAPAK KOMPLESI,RADYATOR YERI",-3.0,%,NaN,NaN,2024-02-20,2024-02-21 00:00:00,ÖZUÇURAN YEDEK PARÇA OTO ELEKTRİK İ

### Sipariş Ana verisi

In [235]:
df = pd.read_csv("13_09_siparis_with_replacibility.csv")

In [236]:
mapping = {
    "001": "Temsilcinin ziyaretleri",
    "002": "Fuar etkinlikleri",
    "003": "Televizyon reklâmları",
    "004": "Müşteri tavsiyesi",
    "005": "Gazete ilânları",
    "006": "Uygun fiyat",
    "007": "Hemen teslimat",
    "008": "(TKLF) WEB'den GELEN - Back Order-NORMAL",
    "009": "TELEFON İLE YAPILAN SATIŞLAR",
    "010": "BANKODAN YAPILAN SATIŞLAR",
    "011": "(TKLF) NORMAL",
    "012": "(TKLF) IHALE",
    "013": "(TKLF) WEB'den GELEN",
    "014": "(TKLF) WEB'den GELEN - Lost Sale",
    "015": "(TKLF) WEB'den GELEN - Back Order-ACİL",
    "016": "(TKLF) WEB'den GELEN -Lost S.& Back Ord.",
    "017": "ATIL  PARÇA SATIŞ",
    "018": "HURDA PARÇA SATIŞ",
    "019": "İLERİYE DÖNÜK KAMPANYA",
    "020": "İHALE  SATIŞ",
    "021": "SSH TALEPLERİ",
    "022": "OTOBÜS SATIŞ  MD TALEBİ",
    "023": "OTOMOTİV SATIŞ MD TALEBİ",
    "024": "OVERSTOK SATIŞI",
    "025": "İADE=KATALOG HATASI",
    "026": "İADE=HATALI SİPARİŞ KARŞILAMA",
    "027": "İADE=HATALI SİPARİŞ",
    "028": "İADE=HATALI PARÇA (MİKTAR /PARÇA NO)",
    "029": "İADE=DENEMEK İÇİN İSTENEN PARÇA",
    "02A": "İADE = YANLIŞ BİLDİRİLEN PARÇA",
    "02B": "İADE = PARÇA İYİLEŞTİRMESİ",
    "02C": "İADE = STOK GENÇLEŞTİRME",
    "02D": "İADE = BAYİ DEN İADE ALIM",
    "02E": "İADE = FİYAT FARKI",
    "02F": "GEÇMİŞ YILLARDAN İADE",
    "02G": "Kamu İhale Satış - KDV' siz",
    "02H": "İADE = TRANSİT PARÇA",
    "02I": "İADE = BAYİDEN STOK İÇİN İADE ALIM",
    "02K": "İADE = MÜCBİR SEBEP İLE İADE ALIMI",
    "030": "İLERİYE DÖNÜK KAMPANYA SİPARİŞİ",
    "031": "TOPLU SİPARİŞ",
    "033": "AKSİGORTA",
    "034": "Makine Teslim Bakımı",
    "035": "Tedarikçi Claim İadesi",
    "036": "Bedelsiz (MISIR)",
    "038": "Komnet Program Bakım Güncelleme Bedeli",
    "039": "Forklift Leasing Satış",
    "040": "Teklif Değerlendirme",
    "100": "Fiyat farkı: Fiyat çok yüksek",
    "101": "Parça uyumsuzluğu ve fonksiyonel hatalar",
    "102": "Parçanın hasarlı teslimatı",
    "103": "Miktar farkı",
    "104": "Bozuk mal",
    "105": "Numune",
    "200": "Fiyat farkı: Fiyat çok düşük",
    "900": "(BAYİ) Acil Sipariş",
    "901": "(BAYİ) Normal Sipariş",
    "902": "(BAYİ) Tavsiye Sipariş",
    "903": "(BAYİ) Garanti Sipariş",
    "A01": "Bakım sözleşmesi",
    "B13": "Bedelsiz (913 Hareketi) satış MasrafYeri",
    "B15": "Bedelsiz (915 Hereketi) Arge MasrafYeri",
    "B17": "Bedelsiz (917 Hareketi) End.Üre Masrafye",
    "B30": "Pert Araç Kurtama",
    "B42": "Modifikasyon yurtiçi çıkış (Z42)",
    "B44": "Modifikasyon yurtdışı çıkış (Z44)",
    "B47": "Yurtdışı İyi Niyet (Z47)",
    "B53": "Bedelsiz yurtiçi çıkış (953)",
    "B55": "Bedelsiz yurtdışı çıkış (955)",
    "B65": "Yurtdışı garanti (965)",
    "B87": "Yurtiçi garanti (987)",
    "BE1": "101 Financial Problems",
    "BE2": "102 Quality Problems",
    "BZ5": "Yurtiçi iyi niyet (Z15)",
    "DDS": "Direkt Dağıtım Sistemi",
    "EDI": "Alacak dekontu yöntemi",
    "FC1": "301 FOC - Warranty",
    "FC2": "302 FOC - Modifications",
    "FC3": "303 FOC - Goodwill",
    "FC4": "304 FOC - PDI",
    "FC5": "Goodwill/sales",
    "FC6": "Goodwill/ ET",
    "FC7": "General Costs",
    "I01": "(ISMK) POLİTİK (OMG)",
    "I02": "(ISMK) POLİTİK (DIECI)",
    "I03": "(ISMK) POLİTİK (BEKO)",
    "I04": "(ISMK) POLİTİK ATAŞMAN",
    "I05": "(ISMK) POLİTİK KOVA ARIZA",
    "I06": "(ISMK) POLİTİK YEDEK PARÇA GARANTİ",
    "I07": "(ISMK) POLİTİK İŞ MAKİNASI EKSTRAya",
    "I08": "(ISMK) POLİTİK FORKLİFT EKSTRA",
    "I09": "(ISMK) NORMAL GARANTİ FORKLİFT",
    "I10": "(ISMK) NORMAL GARANTİ OMG",
    "I11": "(ISMK) NORMAL GARANTİ DIECI",
    "I12": "(ISMK) NORMAL GARANTİ İŞ MAKİNASI",
    "I13": "(ISMK) NORMAL GARANTİ BEKO",
    "I14": "(ISMK) FİRMA EK GARANTİ",
    "I15": "(ISMK) MODİFİKASYON FORKLİFT",
    "I16": "(ISMK) MODİFİKASYON İŞ MAKİNASI",
    "I17": "SARF MALZEME SİPARİŞİ",
    "IM0": "(ISMK) Kova Garanti",
    "IM1": "(ISMK) Kırıcı Garanti",
    "IM2": "(ISMK) Modifikasyon garanti",
    "IM3": "(ISMK) Normal garanti",
    "IM4": "(ISMK) Yedek parça  garanti",
    "IM5": "(ISMK) Politik satış forklift",
    "IM7": "(ISMK) Politik satış İş makinesi",
    "IM8": "(ISMK) Yeni Makina kiralama",
    "IM9": "(ISMK) PDI Masraf",
    "IMX": "(ISMK) Expertiz",
    "MYS": "Motor Yenileme Siparişi",
    "W01": "Garanti(Warranty)",
    "YP0": "Servis stok planlama",
    "YP1": "(OTOB-YP) Alternatif Satış",
    "YP2": "(OTOB-YP) İhale Satış",
    "YP3": "(OTOB-YP) Kampanya Satış",
    "YP4": "(OTOB-YP) ATIL Satış",
    "YP5": "(OTOB-YP) Çekirdek Stok Satış",
    "YP6": "(OTOB-YP) EMANET PARÇA ÇIKIŞ",
    "YP7": "(OTOB-YP) Hareketi Azalan Parça Satışı",
    "YP8": "(OTOB-YP) HURDA Satışı",
    "YP9": "(OTOB-YP) NON-BUS Satışı",
    "Z49": "İkinci el araçlar için parça gönderimi",
    "Z50": "İkinci El Satış",
    "Z63": "Servis Bülten Satış Yurtiçi (Z63)",
    "Z65": "Servis Bülten Satış Yurtdışı (Z65)"
}

In [237]:
df["Sipariş nedeni"] = df["Sipariş nedeni"].replace(mapping)

In [238]:
df["Yaratma tarihi"]=pd.to_datetime(df["Yaratma tarihi"])
df["Yaratma tarihi"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 629543 entries, 0 to 629542
Series name: Yaratma tarihi
Non-Null Count   Dtype
--------------   -----
629543 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.8 MB

In [239]:
teklif_kodları = ["TKLF", "MTEK", "PBLT", "PTBE", "PTEK", "STEK", "VTEK", "WKAM", "WPAK", "WTEK", "ZTKL","IADE"]
df = df[(~ df["Satış belgesi türü"].isin(teklif_kodları))]

In [225]:
df["Yaratma tarihi"] = pd.to_datetime(df["Yaratma tarihi"])
df = df[df["Yaratma tarihi"] >= "2021-01-01"].copy()

# Forecasting

In [187]:
df

,Üretim yeri,Satış belgesi,Yaratma tarihi,İki basamaklı no.,Saat,Satış organizasyonu,Dağıtım kanalı,Bölüm,Kalem,Müşteri,Ad,Malzeme,Malzeme kısa metni,İlk Malzeme,Kaç defa değişti?,Fiyat grubu,Sipariş miktarı,Teyit edilen küm.mkt,Durum,Geliş Trh,Tahsis Tarihi,Tahsis Saati,İlk Dönem,Son Dönem,Unnamed: 24,Orta. Bul,Genel Bul.,Servis Drc,Son Tahsis Tarihi,Hesap Tarihi,Hesap Saati,Hesap Miktari,Satış belgesi türü,Sipariş nedeni,Ret nedeni,Araç tipi,Tedarik yeri,Sipariş Kriteri,Plnl.tsl.süresi,Tedarik Türü,Kayar ortalama fiyat,ÜY'ye özgü mlz.drm.,Sonraki SD belgesi,GuncelMalzeme
233788,4000,1107963417,2021-01-03,1,22:07:17,MA00,YS,PY,10,600998,GÜNERİ OTOMOTİV TURZ.İNŞ.SAN.TİC.LT,ME011867KP,KRANK ARKA KECESI,NaN,0,10.0,2.0,2.0,Normal,2021-01-04,2021-01-03,22:07:18,6.2018,6.2025,0,1.0,1.0,1.0,2021-01-03,2021-01-03,22:07:18,2.0,YPSP,(BAYİ) Normal Sipariş,NaN,PRESTIJ E2,SKT,H,0,Y,0,NaN,NaN,ME011867KP
233789,4000,1107963416,2021-01-03,1,22:06:55,MA00,YS,PY,30,600100,ŞEREF OTO İNŞ. NAK. PET. TUR. SAN.,MK667789KP,KAYIS,NaN,0,10.0,3.0,3.0,Normal,2021-01-04,2021-01-03,22:06:56,6.2018,6.2025,0,1.0,1.0,1.0,2021-01-03,2021-01-03,22:06:56,3.0,YPSP,(BAYİ) Normal Sipariş,NaN,PRESTIJ E6,AKBİLYA,H,0,Y,0,NaN,NaN,MK667789KP
233790,4000,1107963416,2021-01-03,1,22:06:55,MA00,YS,PY,20,600100,ŞEREF OTO İNŞ. NAK. PET. TUR. SAN.,MK666977,"HALKA,YAĞ DOLDURMA",NaN,0,10.0,5.0,5.0,Normal,2021-01-04,2021-01-03,22:06:56,6.2018,6.2025,0,1.0,1.0,1.0,2021-01-03,2021-01-03,22:06:56,5.0,YPSP,(BAYİ) Normal Sipariş,NaN,PRESTIJ E6,MFTBC,X,0,I,0,NaN,NaN,MK666977
233791,4000,1107963416,2021-01-03,1,22:06:55,MA00,YS,PY,10,600100,ŞEREF OTO İNŞ. NAK. PET. TUR. SAN.,500395378,"KAPAK,VALF DISLI TRANSMANI",NaN,0,10.0,64.0,64.0,Normal,2021-01-04,2021-01-03,22:06:56,6.2018,6.2025,0,1.0,1.0,1.0,2021-01-03,2021-01-03,22:06:56,64.0,YPSP,(BAYİ) Normal Sipariş,NaN,CANTER S-E,FPT,H,0,I,0,NaN,NaN,"['MK667086AG', '500395378']"
233792,4000,1107963415,2021-01-03,1,22:06:31,MA00,YS,PY,10,600103,TEKBAŞ TİCARİ ARAÇLAR PAZARLAMA,QC000384,"SOGUTUCU,EGR",NaN,0,10.0,1.0,1.0,Normal,2021-01-04,2021-01-03,22:06:33,6.2018,6.2025,0,1.0,1.0,1.0,2021-01-03,2021-01-03,22:06:33,1.0,YPSP,(BAYİ) Normal Sipariş,NaN,CANTER S-E,MFTBC,K,0,I,0,NaN,NaN,QC000384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629538,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,90,238,TFR SAS,1627-LPE-01Y,"BRAKET, AVARE KASNAK",NaN,0,10.0,1.0,1.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,1.0,1.0,1.0,2025-06-30,2025-06-30,08:15:42,1.0,ZIHY,(BAYİ) Normal Sipariş,NaN,AVENUE E6,TURKERLER,X,0,Y,0,NaN,NaN,1627-LPE-01Y
629539,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,101,238,TFR SAS,275531-10580,"DEGISTIRME KABLOSU,L 10580mm",NaN,0,10.0,1.0,0.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,0.0,0.0,0.0,NaN,2025-06-30,08:15:42,0.0,ZIHY,(BAYİ) Normal Sipariş,NaN,TOURMA E5C,KONGSBERG,K,0,I,0,NaN,NaN,275531-10580
629540,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,111,238,TFR SAS,3503-ANE-01Y,"KÖRÜK,ARKA FREN, (23.216.16.14)",NaN,0,10.0,1.0,0.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,0.0,0.0,0.0,NaN,2025-06-30,08:15:42,0.0,ZIHY,(BAYİ) Normal Sipariş,NaN,MD 7 E6C,ARFESAN,Y,0,Y,0,NaN,NaN,3503-ANE-01Y
629541,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,120,238,TFR SAS,3724-ANH-01Y,"DIREKSIYON CEKME KOLU,ON AKS",NaN,0,10.0,2.0,2.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,1.0,1.0,1.0,2025-06-30,2025-06-30,08:15:42,2.0,ZIHY,(BAYİ) Normal Sipariş,NaN,MD 7 E6FPT,DITAS,K,0,Y,0,NaN,NaN,3724-ANH-01Y
629542,5000,1106065483,2025-06-30,6,11:25:00,OTOB,XD,OY,11,101164,TROIANI S.R.L.,1381-APB-01,MEKANİK FAN TAHRİK ŞAFTI (L=246 mm),NaN,0,30.0,1.0,0.0,Acil,2025-06-30,2025-06-30,11:25:24,6.2018,6.2025,0,0.0,0.0,0.0,NaN,2025-06-30,11:25:24,0.0,ZIHY,(BAYİ) Acil Sipariş,NaN,MD9 LE E6C,KENDRION,K,0,I,0,NaN,NaN,1381-APB-01

In [243]:
df

,Üretim yeri,Satış belgesi,Yaratma tarihi,İki basamaklı no.,Saat,Satış organizasyonu,Dağıtım kanalı,Bölüm,Kalem,Müşteri,Ad,Malzeme,Malzeme kısa metni,İlk Malzeme,Kaç defa değişti?,Fiyat grubu,Sipariş miktarı,Teyit edilen küm.mkt,Durum,Geliş Trh,Tahsis Tarihi,Tahsis Saati,İlk Dönem,Son Dönem,Unnamed: 24,Orta. Bul,Genel Bul.,Servis Drc,Son Tahsis Tarihi,Hesap Tarihi,Hesap Saati,Hesap Miktari,Satış belgesi türü,Sipariş nedeni,Ret nedeni,Araç tipi,Tedarik yeri,Sipariş Kriteri,Plnl.tsl.süresi,Tedarik Türü,Kayar ortalama fiyat,ÜY'ye özgü mlz.drm.,Sonraki SD belgesi,GuncelMalzeme
0,5000,1107911074,2018-06-30,6,21:10:11,OTOB,BS,OY,20,601013,HACI MUSTAFA BAĞIŞLAR,D1895550,EGZOZ BORUSU CONTASI,NaN,0,10.0,1.0,1.0,Normal,2018-07-02,2018-06-30,21:10:27,6.2018,6.2025,0,1.0,1.0,1.0,2018-06-30,2018-06-30,21:10:27,1.0,YPSP,(BAYİ) Normal Sipariş,NaN,SAFIR V E6,DAF,X,0,I,0,NaN,NaN,D1895550
1,5000,1107911074,2018-06-30,6,20:58:34,OTOB,BS,OY,10,601013,HACI MUSTAFA BAĞIŞLAR,D1895549,EKSOZ CONTASI,NaN,0,10.0,1.0,1.0,Normal,2018-07-02,2018-06-30,21:10:27,6.2018,6.2025,0,1.0,1.0,1.0,2018-06-30,2018-06-30,21:10:27,1.0,YPSP,(BAYİ) Normal Sipariş,NaN,SAFIR V E6,DAF,X,0,I,0,NaN,NaN,D1895549
2,5000,1107911074,2018-06-30,6,21:10:11,OTOB,BS,OY,60,601013,HACI MUSTAFA BAĞIŞLAR,D1923003,"HAVA GIRIS CONTASI,TURBO",NaN,0,10.0,1.0,1.0,Normal,2018-07-02,2018-06-30,21:10:27,6.2018,6.2025,0,1.0,1.0,1.0,2018-06-30,2018-06-30,21:10:27,1.0,YPSP,(BAYİ) Normal Sipariş,NaN,MARATON E6,DAF,O,0,I,0,NaN,NaN,D1923003
3,5000,1107911074,2018-06-30,6,21:10:11,OTOB,BS,OY,30,601013,HACI MUSTAFA BAĞIŞLAR,D2187464,EGZOZ MANIFOLD CONTASI,D1917011,1,10.0,6.0,6.0,Normal,2018-07-02,2018-06-30,21:10:27,6.2018,6.2025,0,1.0,1.0,1.0,2018-06-30,2018-06-30,21:10:27,6.0,YPSP,(BAYİ) Normal Sipariş,NaN,HD RHD,DAF,P,0,I,0,NaN,NaN,"['D2106220', 'D1917011', 'D2187464']"
4,5000,1107911074,2018-06-30,6,21:10:11,OTOB,BS,OY,40,601013,HACI MUSTAFA BAĞIŞLAR,D2199692,"EGZOZ MANIFOLDU,MOTOR",D1919888,1,10.0,1.0,1.0,Normal,2018-07-02,2018-06-30,21:10:27,6.2018,6.2025,0,1.0,1.0,1.0,2018-06-30,2018-06-30,21:10:27,1.0,YPSP,(BAYİ) Normal Sipariş,NaN,MARATON E6,DAF,P,0,I,0,NaN,NaN,"['D1919888', 'D2199692']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
629538,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,90,238,TFR SAS,1627-LPE-01Y,"BRAKET, AVARE KASNAK",NaN,0,10.0,1.0,1.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,1.0,1.0,1.0,2025-06-30,2025-06-30,08:15:42,1.0,ZIHY,(BAYİ) Normal Sipariş,NaN,AVENUE E6,TURKERLER,X,0,Y,0,NaN,NaN,1627-LPE-01Y
629539,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,101,238,TFR SAS,275531-10580,"DEGISTIRME KABLOSU,L 10580mm",NaN,0,10.0,1.0,0.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,0.0,0.0,0.0,NaN,2025-06-30,08:15:42,0.0,ZIHY,(BAYİ) Normal Sipariş,NaN,TOURMA E5C,KONGSBERG,K,0,I,0,NaN,NaN,275531-10580
629540,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,111,238,TFR SAS,3503-ANE-01Y,"KÖRÜK,ARKA FREN, (23.216.16.14)",NaN,0,10.0,1.0,0.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,0.0,0.0,0.0,NaN,2025-06-30,08:15:42,0.0,ZIHY,(BAYİ) Normal Sipariş,NaN,MD 7 E6C,ARFESAN,Y,0,Y,0,NaN,NaN,3503-ANE-01Y
629541,5000,1106065475,2025-06-30,6,08:14:22,OTOB,XD,OY,120,238,TFR SAS,3724-ANH-01Y,"DIREKSIYON CEKME KOLU,ON AKS",NaN,0,10.0,2.0,2.0,Normal,2025-06-30,2025-06-30,08:15:42,6.2018,6.2025,0,1.0,1.0,1.0,2025-06-30,2025-06-30,08:15:42,2.0,ZIHY,(BAYİ) Normal Sipariş,NaN,MD 7 E6FPT,DITAS,K,0,Y,0,NaN,NaN,3724-ANH-01Y
629542,5000,1106065483,2025-06-30,6,11:25:00,OTOB,XD,OY,11,101164,TROIANI S.R.L.,1381-APB-01,MEKANİK FAN TAHRİK ŞAFTI (L=246 mm),NaN,0,30.0,1.0,0.0,Acil,2025-06-30,2025-06-30,11:25:24,6.2018,6.2025,0,0.0,0.0,0.0,NaN,2025-06-30,11:25:24,0.0,ZIHY,(BAYİ) Acil Sipariş,NaN,MD9 LE E6C,KENDRION,K,0,I,0,NaN,NaN,1381-APB-01

In [226]:
#lineer
import numpy as np
import pandas as pd
from prophet import Prophet
from sklearn.metrics import (
    mean_absolute_error,
    mean_squared_error,
    mean_absolute_percentage_error
)

def prophet_with_regressors(urun_kodu, 
                            df, 
                            tüfe, 
                            otob_kampanya, 
                            dolar,
                            servis,
                            dolar_col="Şimdi"):   

    urun_df = df[df["Malzeme"] == urun_kodu].copy()
    df_monthly = (
        urun_df.groupby(urun_df["Yaratma tarihi"].dt.to_period("M"))["Sipariş miktarı"]
        .sum()
        .to_timestamp()
        .reset_index()
        .rename(columns={"Yaratma tarihi":"ds", "Sipariş miktarı":"y"})
    )

    df_monthly = (
        df_monthly.set_index("ds")
        .asfreq("MS", fill_value=1) 
        .reset_index()
    )

    # -----------------------------
    # 2) TÜFE 
    df_tufe_ = tüfe.copy()
    df_tufe_["ds"] = pd.to_datetime(df_tufe_["ds"], dayfirst=True, errors="coerce")
    df_tufe_["tüfe yıllık"] = pd.to_numeric(df_tufe_["tüfe yıllık"], errors="coerce")
    df_prophet = df_monthly.merge(df_tufe_[["ds","tüfe yıllık"]], on="ds", how="left")
    df_prophet["tüfe yıllık"] = df_prophet["tüfe yıllık"].ffill()

    # -----------------------------
    # 3) Kampanya 
    kampanya_urun = otob_kampanya[otob_kampanya["Malzeme"] == urun_kodu].copy()
    kampanya_urun["ds"] = pd.to_datetime(kampanya_urun["Bşl.tarihi"]).dt.to_period("M").dt.to_timestamp()
    kampanya_df = kampanya_urun[["ds"]].drop_duplicates().copy()
    kampanya_df["kampanya"] = 1
    df_prophet = df_prophet.merge(kampanya_df, on="ds", how="left")
    df_prophet["kampanya"] = df_prophet["kampanya"].fillna(0).astype(int)

    # -----------------------------
    # 4) Dolar
    df_fin = dolar.copy()
    df_fin["ds"] = pd.to_datetime(df_fin["Tarih"], dayfirst=True, errors="coerce")

    if dolar_col not in df_fin.columns:
        raise KeyError(f"Dolar dataframe içinde '{dolar_col}' kolonu yok. Mevcut kolonlar: {df_fin.columns}")

    df_fin[dolar_col] = (df_fin[dolar_col].astype(str)
                         .str.replace(".", "", regex=False)
                         .str.replace(",", ".", regex=False))
    df_fin[dolar_col] = pd.to_numeric(df_fin[dolar_col], errors="coerce")
    df_fin["ds"] = df_fin["ds"].dt.to_period("M").dt.to_timestamp()
    df_fin = df_fin.groupby("ds", as_index=False)[dolar_col].mean()
    df_prophet = df_prophet.merge(df_fin, on="ds", how="left")

    # -----------------------------
    # 6) Servis verisi
    df_servis_filtered = servis[servis["Parça Kodu"] == urun_kodu].copy()
    df_servis_filtered["Çıkış Tarihi"] = pd.to_datetime(df_servis_filtered["Çıkış Tarihi"], dayfirst=True)
    df_servis_monthly = (
        df_servis_filtered.groupby(df_servis_filtered["Çıkış Tarihi"].dt.to_period("M"))["Verilen Miktar"]
        .sum()
        .to_timestamp()
        .reset_index()
        .rename(columns={"Çıkış Tarihi":"ds", "Verilen Miktar":"servis_parca_toplam"})
    )
    df_prophet = df_prophet.merge(df_servis_monthly, on="ds", how="left")
    df_prophet["servis_parca_toplam"] = df_prophet["servis_parca_toplam"].fillna(0)

    # ----------------
    # Motorin
    df_motorin = df_motorin_monthly.copy()
    df_prophet = df_prophet.merge(df_motorin, on="ds", how="left")

    # -----------------------------
    # 7) Train / Test 
    split_index = int(len(df_prophet) * 0.8)
    train = df_prophet.iloc[:split_index].copy()
    test  = df_prophet.iloc[split_index:].copy()

    # NaN doldur
    train = train.fillna(0)
    test  = test.fillna(0)

    # -----------------------------
    # 8) Regresör kombinasyonları
    regressor_sets = [
        [],   
        ["Şimdi"],
        ["motorin_aylik"],
        ["tüfe yıllık"],
        ["kampanya"],
        ["servis_parca_toplam"],
        ["Şimdi","tüfe yıllık"],
        ["Şimdi","kampanya"],
        ["Şimdi","servis_parca_toplam"],
        ["Şimdi","motorin_aylik"],
        ["tüfe yıllık","kampanya"],
        ["Şimdi","tüfe yıllık","kampanya"],
        ["Şimdi","tüfe yıllık","kampanya","servis_parca_toplam","motorin_aylik"]
    ]

    results = []
    for regs in regressor_sets:
        m = Prophet(
            interval_width=0.0,
            yearly_seasonality=False,
            weekly_seasonality=False,
            daily_seasonality=False,
            seasonality_mode="additive",
           
        )
        
        regressor_scales = {
            "Şimdi": 10,
            "motorin_aylik": 10,
            "tüfe yıllık": 10,
            "kampanya": 10,
            "servis_parca_toplam": 10
        }
     
        regressor_modes = {
            "Şimdi": "additive",           
            "motorin_aylik": "additive",
            "tüfe yıllık": "additive",
            "kampanya": "additive",  
            "servis_parca_toplam": "additive"
         }
         
        for r in regs:
         scale = regressor_scales.get(r, 10)
         mode  = regressor_modes.get(r, "additive")  
         m.add_regressor(r, prior_scale=scale, mode=mode)
         
        train_cols = ["ds","y"] + regs
        if train["y"].notna().sum() < 2:
            results.append({
                "Malzeme": urun_kodu,
                "Regressors": ",".join(regs) if regs else "Yalnızca Temel",
                "MAE": None,
                "RMSE": None,
                "MAPE": None,
                "SMAPE": None,
                "WAPE": None,
                "SİPARİŞ MİKTARI ORT": df_prophet["y"].mean(),
                "SİPARİŞ MİKTARI SAPMA": df_prophet["y"].std(),
                "SİPARİŞ MİKTARI SIKLIĞI": (df_prophet["y"] > 0).sum() / len(df_prophet),
                "Kampanyalı Ay Sayısı": (df_prophet["kampanya"] == 1).sum()
            })
            continue

     
        m.fit(train[train_cols])

        # Test verisi hazırla
        future_test = test[["ds"]].merge(df_prophet[["ds"] + regs], on="ds", how="left")

        if future_test.empty:
            results.append({
                "Malzeme": urun_kodu,
                "Regressors": ",".join(regs) if regs else "Yalnızca Temel",
                "MAE": None,
                "RMSE": None,
                "MAPE": None,
                "SMAPE": None,
                "WAPE": None,
                "SİPARİŞ MİKTARI ORT": df_prophet["y"].mean(),
                "SİPARİŞ MİKTARI SAPMA": df_prophet["y"].std(),
                "SİPARİŞ MİKTARI SIKLIĞI": (df_prophet["y"] > 0).sum() / len(df_prophet),
                "Kampanyalı Ay Sayısı": (df_prophet["kampanya"] == 1).sum()
            })
            continue  

        forecast_test = m.predict(future_test)[["ds","yhat"]]
        forecast_test["yhat"] = forecast_test["yhat"].clip(lower=0)

        merged = test[["ds","y"]].merge(forecast_test, on="ds", how="inner").dropna()

        y_true = merged["y"].astype(float).values
        y_pred = merged["yhat"].astype(float).values

        mae  = mean_absolute_error(y_true, y_pred)
        rmse = np.sqrt(mean_squared_error(y_true, y_pred))
        mape = mean_absolute_percentage_error(y_true, y_pred) * 100

        def smape(a, f): return 100 * np.mean(2*np.abs(f-a) / (np.abs(a)+np.abs(f)+1e-8))
        def wape(a, f):  return np.sum(np.abs(f-a)) / np.sum(np.abs(a)) * 100

        smape_val = smape(y_true, y_pred)
        wape_val  = wape(y_true, y_pred)
        params_summary = f"growth={m.growth}, cps={m.changepoint_prior_scale}, " \
                 f"seasonality_mode={m.seasonality_mode}, interval={m.interval_width}, " \
                 f"regressors={','.join(regs) if regs else 'Yalnızca Temel'}"

        siparis_ort = df_monthly["y"].mean()
        siparis_sapma = df_monthly["y"].std()
        siparis_sikligi = (df_monthly["y"] > 0.1).sum()
        kampanya_sayisi = (df_prophet["kampanya"] == 1).sum()

        merged["sapma_%"] = 100 * (merged["yhat"] - merged["y"]) / merged["y"].replace(0, np.nan)
        results.append({
            "Malzeme": urun_kodu,
            "Regressors": ",".join(regs) if regs else "Yalnızca Temel",
            "MAE": mae,
            "RMSE": rmse,
            "MAPE": mape,
            "SMAPE": smape_val,
            "WAPE": wape_val,
            "SİPARİŞ MİKTARI ORT": df_monthly["y"].mean(),
            "SİPARİŞ MİKTARI SAPMA": df_monthly["y"].std(),
            "SİPARİŞ MİKTARI SIKLIĞI": (df_monthly["y"] > 0.1).sum(),
            "Kampanyalı Ay Sayısı": (df_prophet["kampanya"] == 1).sum(),
            "ds": merged["ds"].reset_index(drop=True),
            "y": merged["y"].reset_index(drop=True),
            "yhat": merged["yhat"].reset_index(drop=True),
            "sapma_%": merged["sapma_%"].reset_index(drop=True),
            "Parametreler": params_summary
        })

    return pd.DataFrame(results)

In [1]:
Malzeme = df["Malzeme"].value_counts().index
Malzeme

NameError: name 'df' is not defined

In [240]:


urun_listesi = Malzeme[0:20]

all_results = []
for urun in urun_listesi:
    df_res = prophet_with_regressors(
        urun, 
        df, 
        tüfe, 
        otob_kampanya, 
        dolar,
        servis,
        dolar_col="Şimdi"
    )
    all_results.append(df_res)

final_results = pd.concat(all_results, ignore_index=True)

# Excel'e kaydet
final_results.to_excel("veri.xlsx", index=False                     )

15:37:38 - cmdstanpy - INFO - Chain [1] start processing
15:37:38 - cmdstanpy - INFO - Chain [1] done processing
15:37:38 - cmdstanpy - INFO - Chain [1] start processing
15:37:38 - cmdstanpy - INFO - Chain [1] done processing
15:37:38 - cmdstanpy - INFO - Chain [1] start processing
15:37:38 - cmdstanpy - INFO - Chain [1] done processing
15:37:38 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:39 - cmdstanpy - INFO - Chain [1] start processing
15:37:39 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:40 - cmdstanpy - INFO - Chain [1] done processing
15:37:40 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:41 - cmdstanpy - INFO - Chain [1] start processing
15:37:41 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:42 - cmdstanpy - INFO - Chain [1] start processing
15:37:42 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:43 - cmdstanpy - INFO - Chain [1] done processing
15:37:43 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:44 - cmdstanpy - INFO - Chain [1] done processing
15:37:44 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:45 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:45 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:45 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:45 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:45 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:45 - cmdstanpy - INFO - Chain [1] start processing
15:37:45 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:46 - cmdstanpy - INFO - Chain [1] done processing
15:37:46 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:47 - cmdstanpy - INFO - Chain [1] done processing
15:37:47 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:48 - cmdstanpy - INFO - Chain [1] done processing
15:37:48 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:49 - cmdstanpy - INFO - Chain [1] done processing
15:37:49 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:50 - cmdstanpy - INFO - Chain [1] done processing
15:37:50 - cmdstanpy - INFO - Chain [1] start processing
15:37:51 - cmdstanpy - INFO - Chain [1] done processing
15:37:51 - cmdstanpy - INFO - Chain [1] start processing
15:37:51 - cmdstanpy - INFO - Chain [1] done processing
15:37:51 - cmdstanpy - INFO - Chain [1] start processing
15:37:51 - cmdstanpy - INFO - Chain [1] done processing
15:37:51 - cmdstanpy - INFO - Chain [1] start processing
15:37:51 - cmdstanpy - INFO - Chain [1] done processing
15:37:51 - cmdstanpy - INFO - Chain [1] start processing
15:37:51 - cmdstanpy - INFO - Chain [1] done processing
15:37:51 - cmdstanpy - INFO - Chain [1] start processing
15:37:51 - cmdstanpy - INFO - Chain [1] done processing
15:37:51 - cmdstanpy - INFO - Chain [1] start processing
15:37:52 - cmdstanpy - INFO - Chain [1] done processing
15:37:52 - cmdstanpy - INFO - Chain [1] start processing
15:37:52 - cmdstanpy - INFO - Chain [1] done processing
15:37:52 - cmdstanpy - INFO - Chain [1] start processing
15:37:52 - cmdstanpy - INFO - Chain [1] done processing
15:37:52 - cmdstanpy - INFO - Chain [1] start processing
15:37:52 - cmdstanpy - INFO - Chain [1] done processing
15:37:52 - cmdstanpy - INFO - Chain [1] start processing
15:37:52 - cmdstanpy - INFO - Chain [1] done processing
15:37:52 - cmdstanpy - INFO - Chain [1] start processing
15:37:52 - cmdstanpy - INFO - Chain [1] done processing
15:37:52 - cmdstanpy - INFO - Chain [1] start processing
15:37:53 - cmdstanpy - INFO - Chain [1] done processing
15:37:53 - cmdstanpy - INFO - Chain [1] start processing
15:37:53 - cmdstanpy - INFO - Chain [1] done processing
15:37:53 - cmdstanpy - INFO - Chain [1] start processing
15:37:53 - cmdstanpy - INFO - Chain [1] done processing
15:37:53 - cmdstanpy - INFO - Chain [1] start processing
15:37:53 - cmdstanpy - INFO - Chain [1] done processing
15:37:53 - cmdstanpy - INFO - Chain [1] start processing
15:37:53 - cmdstanpy - INFO - Chain [1] done processing
15:37:53 - cmdstanpy - INFO - Chain [1] start processing
15:37:53 - cmdstanpy - INFO - Chain [1] done processing
15:37:54 - cmdstanpy - INFO - Chain [1] start processing
15:37:54 - cmdstanpy - INFO - Chain [1] done processing
15:37:54 - cmdstanpy - INFO - Chain [1] start processing
15:37:54 - cmdstanpy - INFO - Chain [1] done processing
15:37:54 - cmdstanpy - INFO - Chain [1] start processing
15:37:54 - cmdstanpy - INFO - Chain [1] done processing
15:37:54 - cmdstanpy - INFO - Chain [1] start processing
15:37:54 - cmdstanpy - INFO - Chain [1] done processing
15:37:54 - cmdstanpy - INFO - Chain [1] start processing
15:37:54 - cmdstanpy - INFO - Chain [1] done processing
15:37:54 - cmdstanpy - INFO - Chain [1] start processing
15:37:55 - cmdstanpy - INFO - Chain [1] done processing
15:37:55 - cmdstanpy - INFO - Chain [1] start processing
15:37:55 - cmdstanpy - INFO - Chain [1] done processing
15:37:55 - cmdstanpy - INFO - Chain [1] start processing
15:37:55 - cmdstanpy - INFO - Chain [1] done processing
15:37:55 - cmdstanpy - INFO - Chain [1] start processing
15:37:55 - cmdstanpy - INFO - Chain [1] done processing
15:37:55 - cmdstanpy - INFO - Chain [1] start processing
15:37:55 - cmdstanpy - INFO - Chain [1] done processing
15:37:55 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:56 - cmdstanpy - INFO - Chain [1] done processing
15:37:56 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:57 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:57 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:57 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:57 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:57 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:57 - cmdstanpy - INFO - Chain [1] start processing
15:37:57 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:58 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:58 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:58 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:58 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:58 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:58 - cmdstanpy - INFO - Chain [1] done processing
15:37:58 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:37:59 - cmdstanpy - INFO - Chain [1] start processing
15:37:59 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:00 - cmdstanpy - INFO - Chain [1] start processing
15:38:00 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:01 - cmdstanpy - INFO - Chain [1] done processing
15:38:01 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:02 - cmdstanpy - INFO - Chain [1] start processing
15:38:02 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing
15:38:03 - cmdstanpy - INFO - Chain [1] done processing
15:38:03 - cmdstanpy - INFO - Chain [1] start processing

In [232]:
final_results.iloc[150:200]

,Malzeme,Regressors,MAE,RMSE,MAPE,SMAPE,WAPE,SİPARİŞ MİKTARI ORT,SİPARİŞ MİKTARI SAPMA,SİPARİŞ MİKTARI SIKLIĞI,Kampanyalı Ay Sayısı,ds,y,yhat,sapma_%,Parametreler
150,QC000001Y,"Şimdi,kampanya",261.088336,328.006854,694.061599,61.850316,52.259475,615.434783,236.454267,23,7,"0 2022-07-01 1 2022-08-01 2 2022-09-01 3 2022-10-01 4 2022-11-01 Name: ds, dtype: datetime64[ns]","0 351.0 1 499.0 2 937.0 3 694.0 4 17.0 Name: y, dtype: float64","0 520.489193 1 517.348205 2 533.182235 3 550.490033 4 587.276548 Name: yhat, dtype: float64","0 48.287520 1 3.676995 2 -43.096880 3 -20.678670 4 3354.567930 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,kampanya"
151,QC000001Y,"Şimdi,servis_parca_toplam",300.848322,396.729634,938.248609,62.553500,60.217839,615.434783,236.454267,23,7,"0 2022-07-01 1 2022-08-01 2 2022-09-01 3 2022-10-01 4 2022-11-01 Name: ds, dtype: datetime64[ns]","0 351.0 1 499.0 2 937.0 3 694.0 4 17.0 Name: y, dtype: float64","0 654.487324 1 634.967331 2 655.893783 3 704.866690 4 789.814048 Name: yhat, dtype: float64","0 86.463625 1 27.247962 2 -30.000664 3 1.565805 4 4545.964987 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,servis_parca_toplam"
152,QC000001Y,"Şimdi,motorin_aylik",262.169595,329.702289,726.048927,61.265214,52.475900,615.434783,236.454267,23,7,"0 2022-07-01 1 2022-08-01 2 2022-09-01 3 2022-10-01 4 2022-11-01 Name: ds, dtype: datetime64[ns]","0 351.0 1 499.0 2 937.0 3 694.0 4 17.0 Name: y, dtype: float64","0 518.539971 1 540.843807 2 563.410373 3 563.758615 4 614.633185 Name: yhat, dtype: float64","0 47.732185 1 8.385532 2 -39.870825 3 -18.766770 4 3515.489324 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,motorin_aylik"
153,QC000001Y,"tüfe yıllık,kampanya",267.220536,332.350413,731.682230,62.078283,53.486897,615.434783,236.454267,23,7,"0 2022-07-01 1 2022-08-01 2 2022-09-01 3 2022-10-01 4 2022-11-01 Name: ds, dtype: datetime64[ns]","0 351.0 1 499.0 2 937.0 3 694.0 4 17.0 Name: y, dtype: float64","0 532.681852 1 559.680220 2 562.899512 3 575.738915 4 618.379033 Name: yhat, dtype: float64","0 51.761211 1 12.160365 2 -39.925346 3 -17.040502 4 3537.523726 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=tüfe yıllık,kampanya"
154,QC000001Y,"Şimdi,tüfe yıllık,kampanya",269.219282,333.532258,740.551297,62.240253,53.886966,615.434783,236.454267,23,7,"0 2022-07-01 1 2022-08-01 2 2022-09-01 3 2022-10-01 4 2022-11-01 Name: ds, dtype: datetime64[ns]","0 351.0 1 499.0 2 937.0 3 694.0 4 17.0 Name: y, dtype: float64","0 542.123470 1 572.757693 2 573.517822 3 584.693867 4 625.426935 Name: yhat, dtype: float64","0 54.451131 1 14.781101 2 -38.792121 3 -15.750163 4 3578.981968 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,tüfe yıllık,kampanya"
155,QC000001Y,"Şimdi,tüfe yıllık,kampanya,servis_parca_toplam,motorin_aylik",291.510241,375.254304,865.607043,62.867171,58.348727,615.434783,236.454267,23,7,"0 2022-07-01 1 2022-08-01 2 2022-09-01 3 2022-10-01 4 2022-11-01 Name: ds, dtype: datetime64[ns]","0 351.0 1 499.0 2 937.0 3 694.0 4 17.0 Name: y, dtype: float64","0 633.144282 1 616.557415 2 615.127647 3 669.683377 4 728.660531 Name: yhat, dtype: float64","0 80.382986 1 23.558600 2 -34.351372 3 -3.503836 4 4186.238419 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,tüfe yıllık,kampanya,servis_parca_toplam,motorin_aylik"
156,TE215002Y,Yalnızca Temel,94.742436,98.484669,77.365462,133.156801,74.440485,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 77.493109 1 67.904996 2 58.626177 3 49.038064 4 39.759245 5 30.171132 6 20.583019 7 11.922788 8 2.334675 9 0.000000 10 0.000000 Name: yhat, dtype: float64","0 -51.566807 1 -65.530459 2 -48.573529 3 -63.404430 4 -71.600539 5 -77.977276 6 -85.402114 7 -88.960381 8 -98.004551 9 -100.000000 10 -100.000000 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Yalnızca Temel"
157,TE215002Y,Şimdi,91.675340,95.378947,75.000484,126.855003,72.030624,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 77.650962 1 69.177376 2 61.649161 3 53.723661 4 44.862535 5 35.800156 6 26.237085 7 16.672050 8 5.798278 9 0.000000 10 0.000000 Name: yhat, dtype: float64","0 -51.468149 1 -64.884581 2 -45.921789 3 -59.907716 4 -67.955332 5 -73.868499 6 -81.392138 7 -84.562916 8 -95.044206 9 -100.000000 10 -100.000000 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi"
158,TE215002Y,motorin_aylik,85.320864,88.720507,69.906747,112.621106,67.037822,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 78.345797 1 75.336656 2 67.517952 3 59.697829 4 51.561188 5 38.148481 6 29.530629 7 25.053403 8 21.668480 9 14.610075 10 0.000000 Name: yhat, dtype: float64","0 -51.033877 1 -61.758043 2 -40.773726 3 -55.449381 4 -63.170580 5 -72.154394 6 -79.056291 7 -76.802405 8 -81.479932 9 -87.295587 10 -100.000000 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=motorin_aylik"
159,TE215002Y,tüfe yıllık,41.922378,45.803696,34.534483,38.828614,32.939011,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 115.266143 1 111.080735 2 104.636784 3 98.908461 4 95.143574 5 90.495292 6 86.983157 7 81.254009 8 73.772371 9 69.642795 10 62.329475 Name: yhat, dtype: float64","0 -27.958661 1 -43.613840 2 -8.213347 3 -26.187716 4 -32.040304 5 -33.945042 6 -38.309818 7 -24.764807 8 -36.946692 9 -39.441048 10 68.458041 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=tüfe yıllık"
160,TE215002Y,kampanya,64.293227,69.507407,51.257114,71.814430,50.516107,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 96.699805 1 88.633868 2 80.828122 3 72.762185 4 64.956439 5 56.890502 6 168.277983 7 41.539202 8 33.473265 9 25.667519 10 17.601582 Name: yhat, dtype: float64","0 -39.562622 1 -55.008189 2 -29.098138 3 -45.699862 4 -53.602543 5 -58.474086 6 19.346087 7 -61.537776 8 -71.390372 9 -77.680418 10 -52.428156 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=kampanya"
161,TE215002Y,servis_parca_toplam,33.758488,42.176802,33.749946,29.989914,26.524527,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 117.156509 1 102.882227 2 102.679301 3 106.472882 4 102.550102 5 104.218052 6 102.166148 7 121.072002 8 113.706021 9 106.063386 10 98.165997 Name: yhat, dtype: float64","0 -26.777182 1 -47.775519 2 -9.930438 3 -20.542625 4 -26.749927 5 -23.928429 6 -27.541739 7 12.103705 8 -2.815367 9 -7.770969 10 165.313506 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=servis_parca_toplam"
162,TE215002Y,"Şimdi,tüfe yıllık",41.919750,45.919840,34.344282,38.782313,32.936947,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 113.827604 1 110.096494 2 104.534573 3 99.609997 4 95.907059 5 91.396468 6 87.710372 7 81.376089 8 73.097201 9 68.679688 10 61.352799 Name: yhat, dtype: float64","0 -28.857747 1 -44.113455 2 -8.303006 3 -25.664182 4 -31.494958 5 -33.287250 6 -37.794063 7 -24.651770 8 -37.523760 9 -40.278532 10 65.818376 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,tüfe yıllık"
163,TE215002Y,"Şimdi,kampanya",58.676210,63.562354,45.180701,59.386714,46.102736,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 97.430485 1 91.856594 2 87.916705 3 83.528812 4 76.704650 5 69.856675 6 189.295939 7 52.754555 8 41.986923 9 33.770500 10 26.051731 Name: yhat, dtype: float64","0 -39.105947 1 -53.372287 2 -22.880084 3 -37.665066 4 -45.210965 5 -49.009726 6 34.252439 7 -51.153190 8 -64.113741 9 -70.634348 10 -29.589917 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,kampanya"
164,TE215002Y,"Şimdi,servis_parca_toplam",29.871730,40.392173,33.756237,26.054033,23.470645,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 118.751745 1 106.794735 2 111.371942 3 120.024100 4 117.424210 5 121.072849 6 119.545715 7 138.100759 8 127.747780 9 119.628919 10 112.096863 Name: yhat, dtype: float64","0 -25.780159 1 -45.789474 2 -2.305314 3 -10.429776 4 -16.125564 5 -11.625658 6 -15.215805 7 27.871073 8 9.186137 9 4.025147 10 202.964495 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,servis_parca_toplam"
165,TE215002Y,"Şimdi,motorin_aylik",83.261731,86.623562,68.259172,108.459315,65.419931,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 80.894064 1 79.455881 2 69.610214 3 60.062068 4 51.892872 5 35.783878 6 27.684049 7 26.832060 8 28.708133 9 23.197745 10 0.000000 Name: yhat, dtype: float64","0 -49.441210 1 -59.667065 2 -38.938409 3 -55.177562 4 -62.933663 5 -73.880381 6 -80.365923 7 -75.155500 8 -75.463134 9 -79.828048 10 -100.000000 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,motorin_aylik"
166,TE215002Y,"tüfe yıllık,kampanya",40.716310,44.575161,33.644640,36.582263,31.991386,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 117.779132 1 112.816678 2 106.562383 3 100.664003 4 96.034816 5 90.791584 6 189.572295 7 80.573197 8 73.611264 9 68.760858 10 61.901027 Name: yhat, dtype: float64","0 -26.388042 1 -42.732651 2 -6.524226 3 -24.877610 4 -31.403703 5 -33.728771 6 34.448436 7 -25.395188 8 -37.084390 9 -40.207949 10 67.300072 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=tüfe yıllık,kampanya"
167,TE215002Y,"Şimdi,tüfe yıllık,kampanya",40.166313,44.852221,33.192781,35.304135,31.559246,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 115.130461 1 111.852685 2 108.603659 3 105.483241 4 101.274150 5 96.686573 6 202.942128 7 84.355446 8 74.980114 9 69.415654 10 62.669297 Name: yhat, dtype: float64","0 -28.043462 1 -43.221987 2 -4.733632 3 -21.281163 4 -27.661322 5 -29.425859 6 43.930587 7 -21.893105 8 -35.914432 9 -39.638562 10 69.376478 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,tüfe yıllık,kampanya"
168,TE215002Y,"Şimdi,tüfe yıllık,kampanya,servis_parca_toplam,motorin_aylik",38.265795,47.640598,35.567738,32.924090,30.065981,252.796296,154.892218,54,6,"0 2024-08-01 1 2024-09-01 2 2024-10-01 3 2024-11-01 4 2024-12-01 5 2025-01-01 6 2025-02-01 7 2025-03-01 8 2025-04-01 9 2025-05-01 10 2025-06-01 Name: ds, dtype: datetime64[ns]","0 160.0 1 197.0 2 114.0 3 134.0 4 140.0 5 137.0 6 141.0 7 108.0 8 117.0 9 115.0 10 37.0 Name: y, dtype: float64","0 102.850726 1 87.714143 2 95.603306 3 107.760450 4 102.515336 5 104.742280 6 194.500314 7 125.121038 8 114.475898 9 102.493114 10 91.457642 Name: yhat, dtype: float64","0 -35.718296 1 -55.475054 2 -16.137451 3 -19.581754 4 -26.774760 5 -23.545781 6 37.943485 7 15.852813 8 -2.157352 9 -10.875553 10 147.182816 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,tüfe yıllık,kampanya,servis_parca_toplam,motorin_aylik"
169,QC000001AY,Yalnızca Temel,174.123227,193.306374,49.193623,37.669949,39.650702,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 545.785608 1 548.145843 2 550.506078 3 552.637903 4 554.998137 5 557.282236 6 559.642470 Name: yhat, dtype: float64","0 -24.510981 1 89.015808 2 74.210784 3 12.553544 4 57.669925 5 -5.864487 6 80.529829 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Yalnızca Temel"
170,QC000001AY,Şimdi,189.904464,216.074572,55.156644,40.142570,43.244348,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 578.336332 1 584.247047 2 588.181998 3 588.076480 4 586.839322 5 589.661034 6 593.983771 Name: yhat, dtype: float64","0 -20.008806 1 101.464499 2 86.133544 3 19.771177 4 66.715717 5 -0.395096 6 91.607668 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi"
171,QC000001AY,motorin_aylik,196.755576,219.430397,56.596931,41.244180,44.804458,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 580.073793 1 575.628837 2 581.547850 3 594.041277 4 611.271140 5 619.769042 6 603.104679 Name: yhat, dtype: float64","0 -19.768493 1 98.492703 2 84.034130 3 20.986003 4 73.656574 5 4.690717 6 94.549896 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=motorin_aylik"
172,QC000001AY,tüfe yıllık,222.627273,246.755451,64.277576,45.099674,50.695866,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 598.872193 1 609.427830 2 622.583144 3 628.614797 4 632.687290 5 643.746205 6 648.203836 Name: yhat, dtype: float64","0 -17.168438 1 110.147528 2 97.019982 3 28.027454 4 79.740707 5 8.740913 6 109.098012 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=tüfe yıllık"
173,QC000001AY,kampanya,173.278707,192.149148,48.869584,37.531513,39.458391,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 544.027083 1 546.328458 2 548.629833 3 550.708495 4 553.009871 5 555.237008 6 557.538384 Name: yhat, dtype: float64","0 -24.754207 1 88.389123 2 73.617036 3 12.160590 4 57.105077 5 -6.209965 6 79.851091 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=kampanya"
174,QC000001AY,servis_parca_toplam,211.498522,231.397153,59.736325,43.604318,48.161667,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 547.431038 1 568.090497 2 582.042442 3 622.332529 4 625.105283 5 627.788593 6 630.561347 Name: yhat, dtype: float64","0 -24.283397 1 95.893275 2 84.190646 3 26.747969 4 77.586728 5 6.045371 6 103.406886 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=servis_parca_toplam"
175,QC000001AY,"Şimdi,tüfe yıllık",223.186812,247.752401,64.537913,45.171488,50.823282,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 602.232554 1 612.861159 2 625.231826 3 630.178238 4 633.026490 5 643.235417 6 648.007105 Name: yhat, dtype: float64","0 -16.703658 1 111.331434 2 97.858173 3 28.345873 4 79.837071 5 8.654631 6 109.034550 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,tüfe yıllık"
176,QC000001AY,"Şimdi,kampanya",220.818638,248.445680,64.524978,44.763667,50.284010,498.516129,157.869539,31,11,"0 2024-12-01 1 2025-01-01 2 2025-02-01 3 2025-03-01 4 2025-04-01 5 2025-05-01 6 2025-06-01 Name: ds, dtype: datetime64[ns]","0 723.0 1 290.0 2 316.0 3 491.0 4 352.0 5 592.0 6 310.0 Name: y, dtype: float64","0 621.403627 1 628.549343 2 633.077849 3 632.320303 4 629.997532 5 633.073439 6 638.115628 Name: yhat, dtype: float64","0 -14.052057 1 116.741153 2 100.341091 3 28.782139 4 78.976572 5 6.938081 6 105.843751 Name: sapma_%, dtype: float64","growth=linear, cps=0.05, seasonality_mode=additive, interval=0.0, regressors=Şimdi,kampanya"